setuptools==75.3.0
aiohttp==3.10.10
boto3==1.35.49
Flask==3.0.3
gunicorn==23.0.0
moviepy==1.0.3
pip==24.0
pyannote.audio==3.3.2
pydub==0.25.1
yt-dlp==2025.4.30
python-dotenv==1.0.1
Flask-Cors==5.0.0
flask-sse==1.0.0 
redis==5.2.1
torch==2.6.0